<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="copilot_auto_tray.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <copilot_auto_tray.Properties.Settings>
            <setting name="cmd" serializeAs="String">
                <value>C:\Users\liutao\source\repos\copilot-auto-byok\src\CopilotAutoBYOK\bin\Release\net10.0\publish-winx64\copilot-auto-byok.exe</value>
            </setting>
            <setting name="urls" serializeAs="String">
                <value>http://127.0.0.1:15959</value>
            </setting>
        </copilot_auto_tray.Properties.Settings>
    </applicationSettings>
</configuration>